#!/bin/bash

systemctl start mariadb

DBPass={{ mariadb.admin.password }}

/usr/bin/expect << EOF
set timeout 30
spawn mysql_secure_installation
expect {
    "enter for none" { send "\r"; exp_continue}
    "Y/n" { send "Y\r" ; exp_continue}
    "password:" { send "$DBPass\r"; exp_continue}
    "new password:" { send "$DBPass\r"; exp_continue}
    "Y/n" { send "Y\r" ; exp_continue}
    eof { exit }
}
EOF

mysql -u root -p$DBPass -e "
grant all on *.* to 'root'@'%' identified by '$DBPass' WITH GRANT OPTION;
flush privileges;
"
